<a href="https://colab.research.google.com/github/krishna110597/Sentiment-Analysis/blob/main/Multi_Emotion_Intensity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install NRCLex

Collecting NRCLex
  Downloading NRCLex-3.0.0.tar.gz (396 kB)
     |████████████████████████████████| 396 kB 4.8 MB/s
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from NRCLex) (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob->NRCLex) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob->NRCLex) (1.15.0)
Building wheels for collected packages: NRCLex
  Building wheel for NRCLex (setup.py) ... done
  Created wheel for NRCLex: filename=NRCLex-3.0.0-py3-none-any.whl size=43329 sha256=2d74832ae10b95ba467ba164b057515dbfbfb070f8ca76d26785b423b73affc2
  Stored in directory: /root/.cache/pip/wheels/af/2c/9c/dfa19d1b65326c520b32850a9311f6d4eda679ac04dba26081
Successfully built NRCLex
Installing collected packages: NRCLex
Successfully installed NRCLex-3.0.0

In [ ]:
from nrclex import NRCLex

In [ ]:
text = ['extremely',
'disturbing',
'reports',
'from',
'spread,'
'in',
'rural',
'areas',
'is',
'much',
'higher', 'people','are',
'afraid',
'of',
'rapid',
'spread',
'due',
'to',
'political',
'activity']

In [ ]:
text = ['as','delhi', 'reported', 'highest','single-day','spike','with','new','cases','and','deaths','amidst','shortage','beds','hotels',
'banquets',
'set',
'aside',
'beds',
'covid',
'patients']

In [ ]:
emotion = NRCLex.lexicon['fake']
emotion

['negative']

In [ ]:
len(NRCLex.lexicon)

6468

In [ ]:

!mkdir -p data
!wget -nc https://nyc3.digitaloceanspaces.com/ml-files-distro/v1/upshot-trump-emolex/data/NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt -P data

--2022-05-03 13:43:35--  https://nyc3.digitaloceanspaces.com/ml-files-distro/v1/upshot-trump-emolex/data/NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt
Resolving nyc3.digitaloceanspaces.com (nyc3.digitaloceanspaces.com)... 162.243.189.2
Connecting to nyc3.digitaloceanspaces.com (nyc3.digitaloceanspaces.com)|162.243.189.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2581050 (2.5M) [text/plain]
Saving to: ‘data/NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt’

NRC-emotion-lexicon 100%[===================>]   2.46M  --.-KB/s    in 0.1s

2022-05-03 13:43:36 (21.3 MB/s) - ‘data/NRC-emotion-lexicon-wordlevel-alphabetized-v0.92.txt’ saved [2581050/2581050]

In [ ]:
import pandas as pd

In [ ]:
filepath = "data/NRC-Emotion-Intensity-Lexicon-v1.txt"
emolex_df = pd.read_csv(filepath,  names=["word", "emotion", "association"], skiprows=45, sep='\t', keep_default_na=False)
emolex_df.head(12)

            word emotion  association
0          wrath   anger        0.885
1        torment   anger        0.885
2        vicious   anger        0.884
3    threatening   anger        0.882
4       massacre   anger        0.882
5   bloodthirsty   anger        0.875
6      abhorrent   anger        0.875
7        pissoff   anger        0.875
8       fighting   anger        0.868
9    annihilated   anger        0.865
10     attacking   anger        0.865
11      angriest   anger        0.864

In [ ]:
emolex_df.emotion.unique()

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [ ]:
emolex_df.emotion.value_counts()

fear            1763
trust           1560
anger           1437
sadness         1294
joy             1264
disgust         1092
anticipation     862
surprise         583
Name: emotion, dtype: int64

In [ ]:
emolex_df[emolex_df.association == 1].emotion.value_counts()

Series([], Name: emotion, dtype: int64)

In [ ]:
emolex_words = emolex_df.pivot(index='word', columns='emotion', values='association').reset_index()
emolex_words.head()

emotion,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,aaaaaaah,NaN,NaN,NaN,0.344,NaN,NaN,NaN,NaN
1,aaaah,NaN,NaN,NaN,0.234,NaN,NaN,NaN,NaN
2,abacus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.406
3,abandon,NaN,NaN,NaN,0.531,NaN,0.703,NaN,NaN
4,abandoned,0.222,NaN,NaN,0.534,NaN,0.828,NaN,NaN

In [ ]:
emolex_words[emolex_words.word == 'masquerader']

Empty DataFrame
Columns: [word, anger, anticipation, disgust, fear, joy, sadness, surprise, trust]
Index: []

In [ ]:
EmoWords = pd.DataFrame()
for i in range(len(text)):
    # Create object
    #motion = NRCLex(text[i])
    EmoWords = EmoWords.append(emolex_words[emolex_words.word == text[i]])
    # Classify emotion
    #print('\n\n', text[i], ': ', emolex_words[emolex_words.word == 'fake'])
#print(EmoWords)
EmoWords

emotion,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
2594,highest,NaN,0.491,NaN,0.236,0.591,NaN,0.344,NaN
4968,spike,NaN,NaN,NaN,0.359,NaN,NaN,NaN,NaN
4758,shortage,0.212,NaN,NaN,0.344,NaN,0.281,NaN,NaN